#duckSalad {
     color: black;
     text-align: center;
     font-weight: bold;
     font-family: 'Arima', cursive;
}

.foodHeading {
    margin-top: 15px;
}


#duckSalad::after {
    content:"";
    background: url(images/The-Best-Food-In-Vietnam-Main.webp);
    opacity: .70;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    max-height: 400px;
    width: 100%;
}

ul {
    list-style: none;
    margin-left: 160px;
    font-family: 'Bebas Neue', cursive;
}

#customerReviews {
    color: black;
    text-align: center;
    font-family: 'Arima', cursive;
}

#customerHeading {
    color: black;
    margin-top: 110px;
    font-family: 'Arima', cursive;
}

#customerReviews::after {
    content:"";
    background-color: darkolivegreen;
    opacity: .50;
    top: 470px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    min-height: 300px;
    max-height: 300px;
}

header {
    position: fixed;
    width: 100%;    
    font-family: 'Bebas Neue', cursive;
}

header::after {
    content:"";
    background: url(images/background.jpeg);
    opacity: .50;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    max-height: 200px;
    width: 100%;
}

footer::after {
    content:"";
    background-color: white;
    opacity: .25;
    top: 780px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    max-height: 600px;
    width: 100%;
    min-height: 400px;
    
}

footer {
    text-align: center;
    margin-top: 30px;
    font-family: 'Bebas Neue', cursive;
}

#customerHeading {
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }

@media only screen and (max-width: 1300px) {
     #customerReviews::after {
        display: none;
     }

     footer::after {
        display: none;
     }
}